{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
        <section>
          <div class="container">
            <div class="row align-items-center w-100">
              <div class="col">
                <h1>{% trans "Change Password" %}</h1>
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" autocomplete = "current-password" placeholder="Текущий пароль" name="oldpassword" required id="id_oldpassword">
                        <label for="floatingInput">Текущий пароль</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" autocomplete = "new-password" placeholder="Password" name = "password1" required id="id_password1">
                        <label for="floatingInput">Новый пароль</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" placeholder="Password" name = "password2" required id="id_password2">
                        <label for="floatingInput">Новый пароль (ещё раз)</label>
                    </div>
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}"> Forgot Password?</a>
                    <button class="apply" type="submit" name = "action"><p>Сменить пароль</p></button>
                </form>
              </div>
            </div>
          </div>
        </section>
{% endblock %}