{% load i18n %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <script src="{% static 'fontawesome/js/all.js' %}" crossorigin="anonymous"></script>
  <head>
  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand-xxl navbar-dark bg-dark">
        <div class="container-xxl">
          <a class="navbar-brand" href="{% url 'homepage:home' %}">Щоденник мандрівника</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'articles:articles' %}">Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'excursion:excursion_view' %}">Excursions in Odessa</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="container qwe">
          <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a></p>
          <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">@</span>
              <input type="text" class="form-control" name = "username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" autocomplete = "username" minlength = "4" maxlength = "150" required id = "id_username">
          </div>       
            <div class="input-group mb-3">
              <input type="email" class="form-control" name = "email" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2" autocomplete = "email" required id = "id_email">
              <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div>        
            <div class="input-group mb-3">
              <input type="password" class="form-control" name = "password1" autocomplete = "new-password" required id="id_password1" placeholder="Password" aria-label="Password" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" name = "password2" autocomplete = "new-password" required id="id_password2" placeholder="Password repeat" aria-label="Password" aria-describedby="basic-addon3">
            </div>
            <button type="submit" class="apply"><p>Register</p></button>
        </div>
      </form>
    </section>

<!-- JavaScript Bundle with Popper -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>
  </body>
</head>

