{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/articles.css' %}">
  <script src="{% static 'fontawesome/js/all.js' %}" crossorigin="anonymous"></script>

  <head>

    <body>
    <header>
      <nav class="navbar fixed-top navbar-expand-xxl navbar-dark bg-dark">
        <div class="container-xxl">
          <a class="navbar-brand" href="{% url 'homepage:home' %}">Щоденник мандрівника</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'articles:articles' %}">Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'excursion:excursion_view' %}">Excursions in Odessa</a>
              </li>
            </ul>
            <form class="d-flex" method = "GET" action = "{% url 'homepage:search' %}">
              {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Search articles" aria-label="Search" name = "search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="user">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profiles:cabinet' %}">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                </li>
              {% endif %}
              </ul>
              </div>
          </div>
        </div>
      </nav>
      </header>
      <div class="container">
          <div class="wer">
        <div class="row align-items-center">
            <div class="col">
              <div class="ol">
                <img src="{{ image.url }}" alt="">
              </div>
            </div>
          </div>
        </div>
        <h1>{{ caption_name }}</h1>
        <p>
            {{ articles_text }}
        </p>
      </div>
      <section class="gallery">
        <div class="container">
            <div class="gallery-content">
                <ul class="gallery-list">
                    <li class="gallery-item">
                        <img src="./article1/gallery/depositphotos_177153948-stock-photo-bucharest-capital-city-of-romania.jpg" alt="gallery-image" class="gallery-img">
                    </li>
                    <li class="gallery-item">
                        <img src="./article1/gallery/33561f58fb11b95e432f450ad81a84fe9df9cb42.jpg" alt="gallery-image" class="gallery-img">
                    </li>
                    <li class="gallery-item">
                        <img src="./article1/gallery/5c4.jpg" alt="gallery-image" class="gallery-img">
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
      <div class="container">
        <H1>Comments {{ counter }}</H1>
        <div class="form-floating">
          {% if user.is_authenticated %}
            <form action = '' id = 'form' method = 'POST'>
              {% csrf_token %}
              <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name = "comment"></input>
              <label for="floatingTextarea">Type something to send a comment</label>
              <button class="apply">Send</button>
            </form>
          {% else %}
          <p>you will be able to write comments after registration, then please
            <a href="{{ signup_url }}">sign up</a> first.</p>
          {% endif %}  
          {% for com in detail_comments %}
            {% if com.articles_id == articles_id %}
              <div class="comments-block">
                <div class="comment">
                  <div class="comment-info">
                    <div class="comment-head">
                      <div class="comment-author">{{ com.author }}</div>
                      <div class="comment-date" title="14.10.2021 18:22:34">{{ com.pub_date }}</div>
                    </div>
                  </div>
                  <div class="comment-body">
                    <div class="comment-text">{{ com.comment_text }}</div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    <footer class="footer">
        <div class="container">
          <div class="footer-content">
          <a href="#" class="email">@gmail.com</a>
          <div class="desc">
          <a href="#" class="email">Лицензия</a>
          </div>
          <a href="#" class="phone">+380</a>
        </div>
      </div>
  </footer>
          <!-- JavaScript Bundle with Popper -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>
</head>