{% extends 'base.html' %}
{% load static %}

{% block style%}
  <link rel="stylesheet" href="{% static 'css/articles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
      {% if not_found %}
      {% else %}
        <section id="sidebar">
          <div>
            <h6 class="p-1 border-bottom">Filter</h6>
            <ul class="list-group">
              <form id = 'filter' method = 'GET'>
                {% csrf_token %}
                <li class="list-group-item list-group-item-action mb-2 rounded"><input type = 'submit' name = "Blog" value = 'Blog'></input></li>
                <li class="list-group-item list-group-item-action mb-2 rounded"><input type = 'submit' name = "History" value = 'History'></input></li>
                <li class="list-group-item list-group-item-action mb-2 rounded"><input type = 'submit' name = "Facts" value = 'Facts'></input></li>
                <li class="list-group-item list-group-item-action mb-2 rounded"><input type = 'submit' name = "Guide" value = 'Guide'></input></li> 
              </form> 
            </ul>
          </div>
        </section>
      {% endif %}
    <section>
      <div class="row">
        {% if not_found %}
          <H1>Не найдено =O</H1>
        {% else %}
          {% for art in index_articles %}
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="{{ art.article_image.url }}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{ art.caption_name }}</h5>
                  <p class="card-text">{{ art.caption_mini_text }}</p>
                  <a href="{% url 'articles:article_detail' art.id %}" class="btn btn-primary">Перейти к статье</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </section>
  </div>
{% endblock %}